[submodule "vim/bundle/neobundle"]
	path = vim/bundle/neobundle
	url = git://github.com/Shougo/neobundle.vim
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
